#toast {
  position: fixed;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #efeff0;
  top: 25%;
  left: 35%;
  width: 30%;
  border-radius: 5px;
  overflow: scroll;
  z-index: 10;
  overflow: hidden;
}

.invalid {
  background-color: red;
}

#toast > div:first-of-type {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

#toast > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 24px;
  margin-bottom: 18px;
}

img {
  height: 100%;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.inner,
#toast > div:last-child {
  height: 16px;
  border-radius: 0px 5px 5px 5px;
}

#toast > div:last-child {
  width: 100%;
  background-color: transparent;
  margin-bottom: -1px;
}

.inner {
  background-color: #efeff0;
  width: 60%;
}

button {
  all: unset;
  cursor: pointer;
  margin-left: 8px;
}

button > img {
  height: 100%;
  width: auto;
  margin-left: 8px;
  height: 18px;
}

@media (max-width: 768px) {
  #toast {
    left: 10%;
    width: 80%;
  }
}

@media (max-width: 384px) {
  #toast {
    left: 5%;
    width: 90%;
  }
}

.success {
  background-color: #00875a;
}
