:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;

  --textprimary: #ffffff;

  --colorPrimary: #dd8437;
  --colorSecondary: #edbe95;

  --color3: #3e1062;
}

body {
  margin: 0;
  box-sizing: border-box;
}

p,
h3 {
  margin: 0;
}

/* Infobar */

#info-bar {
  background-color: var(--color3);
  color: var(--textprimary);
  font-size: 12px;
  font-weight: 700;
  padding: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #info-bar {
    display: none;
  }
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
}

#navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 8px;
}

.menu-button {
  all: unset;
  padding: 6px 8px;
  cursor: pointer;
  min-width: 64px;
  text-align: center;
}

.menu-button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo > div {
  height: 18px;
}

#open-cart {
  height: 24px;
  padding-right: 16px;
  position: relative;
}

#open-favs {
  position: relative;
}

#cart-badge,
#fav-badge {
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -6px;
  right: 8px;
  border-radius: 50%;
  background-color: #ff6900;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  display: none;
}

#fav-badge {
  top: -6px;
  right: -8px;
}

select {
  background-color: #fff;
  border: 1px solid #d0d1d3;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

/* Searchbar */

#searchbar {
  display: none;
}

.burger-button {
  width: 48px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-right: 1px solid #d0d1d3;
}

.burger-button:focus {
  outline: none;
}

.burger-button > span {
  width: 60%;
  height: 1.6px;
  background: #525252;
  display: block;
  margin: 9px 6.4px;
}

.burger-button > span:nth-of-type(2) {
  width: 40%;
}

.icon-button {
  all: unset;
  cursor: pointer;
  margin-left: 8px;
}

.icon-button > img {
  height: 100%;
  width: auto;
  margin-left: 8px;
}

input {
  width: 100%;
  outline: none;
  border: none;
  text-align: start;
  font-size: 16px;
  padding-left: 16px;
}

.category-mobile {
  display: none;
}

.mobile {
  background-color: #fff;
  color: #7a7a7a;
  border-bottom: 1px solid #d0d1d3;
  border-right: 1px solid #d0d1d3;
}

.mobile:hover {
  color: #000;
  background-color: #d0d1d3;
  border-bottom: 1px solid #d0d1d3;
  border-right: 1px solid #d0d1d3;
}

@media (max-width: 768px) {
  #searchbar {
    display: flex;
    justify-content: center;
    border-top: 1px solid #d0d1d3;
    border-bottom: 1px solid #d0d1d3;
  }

  .category-mobile {
    background-color: var(--colorPrimary);
    display: flex;
  }

  .hide {
    display: none;
  }
}

/* Hero */

#hero {
  display: flex;
  justify-content: center;
  background-color: var(--colorPrimary);
  color: var(--textprimary);
}

#hero > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0px 8px;
  padding-top: 48px;
  gap: 32px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info > button {
  all: unset;
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  padding-bottom: 4px;
  border-bottom: 1.6px solid transparent;
}

.hero-info > button > img {
  height: 100%;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.hero-info > button:hover {
  border-color: var(--textprimary);
}

.hero-image {
  height: 352px;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #hero > div {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .hero-image {
    height: unset;
    max-height: 352px;
  }

  .hero-info {
    align-items: center;
    text-align: center;
    padding: 0px 8px;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fff;
}

footer > div {
  border-bottom: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

.footer-links {
  width: 100%;
  padding: 8px 0px;
}

.footer-links > ul {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #fff;
  padding: 0px;
}

.footer-links li {
  list-style: none;
  padding-right: 8px;
  border-right: 2px solid #fff;
}

.footer-links li:last-child {
  border-right: none;
}

.footer-social {
  all: unset;
  text-align: left;
  padding: 24px 0px;
}

.footer-social > ul {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0px;
}

.footer-social li {
  background-color: #fff;
  padding: 8px;
}

.footer-social img {
  height: 24px;
  width: 24px;
  display: flex;
  margin-right: unset;
}

@media (max-width: 768px) {
  .footer-social {
    text-align: center;
  }

  footer > div {
    flex-direction: column;
    align-items: center;
  }
}

.close {
  height: 18px;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.favorite {
  height: 24px;
}

.active {
  background-color: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  color: #fff;
}

.active:hover {
  background-color: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  color: #fff;
}
