:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;

  --textPrimary: #ffffff;

  --colorPrimary: #c1554d;
  --colorSecondary: #e09990;
}

body {
  margin: 0;
  box-sizing: border-box;
}

p,
h3 {
  margin: 0;
}

/* Infobar */
#info-bar {
  background-color: #61517d;
  color: var(--textPrimary);
  font-size: 12px;
  font-weight: 700;
  padding: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #info-bar {
    display: none;
  }
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
}

#navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 8px;
}

.menu-button {
  all: unset;
  padding: 6px 8px;
  cursor: pointer;
  min-width: 64px;
  text-align: center;
}

.menu-button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo > div > img {
  height: 24px;
  width: 24px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

/* Searchbar */
#searchbar {
  display: none;
}

.burger-button {
  width: 48px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-right: 1px solid #d0d1d3;
}

.burger-button:focus {
  outline: none;
}

.burger-button > span {
  width: 60%;
  height: 1.6px;
  background: #525252;
  display: block;
  margin: 9px 6.4px;
}

.burger-button > span:nth-of-type(2) {
  width: 40%;
}

.icon-button {
  all: unset;
  cursor: pointer;
  margin-left: 8px;
}

.icon-button > img {
  height: 100%;
  width: auto;
  margin-left: 8px;
}

input {
  width: 100%;
  outline: none;
  border: none;
  text-align: start;
  font-size: 16px;
  padding-left: 16px;
}

@media (max-width: 768px) {
  #searchbar {
    display: flex;
    justify-content: center;
    border-top: 1px solid #d0d1d3;
    border-bottom: 1px solid #d0d1d3;
  }
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  background-color: var(--colorPrimary);
  color: var(--textPrimary);
}

#hero > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0px 8px;
  padding-top: 48px;
  gap: 32px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info > button {
  all: unset;
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  padding-bottom: 4px;
  border-bottom: 1.6px solid transparent;
}

.hero-info > button > img {
  height: 100%;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.hero-info > button:hover {
  border-color: var(--textPrimary);
}

.hero-image {
  height: 352px;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #hero > div {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .hero-image {
    height: unset;
    max-height: 352px;
  }

  .hero-info {
    align-items: center;
    text-align: center;
    padding: 0px 8px;
  }
}

/* Products */
#products {
  display: flex;
  justify-content: center;
  background-color: var(--colorSecondary);
}

#products > div {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

#products > div > ul {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  padding: 24px 0px;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  #hero > div {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .hero-image {
    height: unset;
    max-height: 352px;
  }

  .hero-info {
    align-items: center;
    text-align: center;
    padding: 0px 8px;
  }
}

/* Product */
#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  gap: 16px;
}

.product-image {
  max-height: 224px;
  max-width: 160px;
  position: relative;
}

.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image > button {
  all: unset;
  cursor: pointer;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.product-image > button > img {
  height: 100%;
  width: auto;
}

#product > button:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  width: 126px;
  height: 52px;
}

.product-favorite {
  filter: invert(40%) sepia(96%) saturate(1660%) hue-rotate(1deg)
    brightness(103%) contrast(105%);
}

/* Newsletter */

#newsletter {
  display: flex;
  justify-content: center;
  background-color: #efeff0;
  margin-bottom: 36px;
  border-bottom: none;
}

#newsletter > div {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

.newsletter-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 16px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  margin-top: 16px;
  gap: 16px;
  width: 100%;
  max-width: 528px;
}

.newsletter-form > p:first-of-type {
  font-weight: 700;
  font-size: 16px;
}

.radio {
  background-color: red;
}

.newsletter-form button {
  all: unset;
  margin-top: 16px;
  padding: 8px;
  background-color: #1a1a1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}

.newsletter-form button:hover {
  opacity: 0.6;
}

.icon {
  height: 100%;
  max-height: 32px;
  width: auto;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.newsletter-form > p:last-of-type {
  font-weight: 400;
  font-size: 12px;
}

.newsletter-form > input {
  width: 100%;
  outline: none;
  border: none;
  text-align: start;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 12px 0px;
  text-align: center;
  border: 1px solid #d0d1d3;
}

.newsletter-form > input:hover,
.newsletter-form > input:focus,
.newsletter-form > input:active {
  outline: 1.6px solid #000;
  transition: 40ms outline ease-in-out;
}

.radio {
  all: unset;
  display: flex;
  gap: 8px;
  align-items: center;
}

.radio > input {
  all: unset;
  appearance: none;
  margin-left: 0px;
  width: 18.4px;
  height: 18.4px;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.radio > input::before {
  content: '';
  width: 10.4px;
  height: 10.4px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
}

.radio > input:checked::before {
  transform: scale(1);
}

@media (max-width: 768px) {
  #newsletter > div {
    flex-direction: column;
    padding: 0;
  }

  .newsletter-form {
    padding-left: 8px;
    padding-right: 8px;
  }

  .newsletter-heading {
    align-items: center;
    padding: 32px 0px;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fff;
}

footer > div {
  border-bottom: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

.footer-links {
  width: 100%;
  padding: 8px 0px;
}

.footer-links > ul {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #fff;
  padding: 0px;
}

.footer-links li {
  list-style: none;
  padding-right: 8px;
  border-right: 2px solid #fff;
}

.footer-links li:last-child {
  border-right: none;
}

.footer-social {
  all: unset;
  text-align: left;
  padding: 24px 0px;
}

.footer-social > ul {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0px;
}

.footer-social li {
  background-color: #fff;
  padding: 8px;
}

.footer-social img {
  height: 24px;
  width: 24px;
  display: flex;
  margin-right: unset;
}

@media (max-width: 768px) {
  .footer-social {
    text-align: center;
  }

  footer > div {
    flex-direction: column;
    align-items: center;
  }
}

/* Cart */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 10;
}

#cart {
  all: unset;
  position: fixed;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  left: 30%;
  top: 15%;
  width: 40%;
  background-color: #fff;
  overflow: scroll;
  z-index: 10;
}

#cart > div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart > div > button:last-of-type {
  margin-top: 32px;
  width: 100%;
  max-width: 220px;
  background-color: #ff6900;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

#cart > div > div:first-of-type {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.cart-list {
  width: 100%;
  max-width: 300px;
  list-style-type: none;
  padding: 0;
}

.cart-item {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d0d1d3;
}

.cart-item > div:first-child {
  width: 50%;
}

.cart-item > div > h4 {
  text-align: left;
}

.cart-item > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.cart-item > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.cart-item > div > button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  outline: none;
  border: 1px solid #000;
  font-size: 16px;
}

.cart-item > div > button:hover {
  border: 2px solid #000;
  opacity: 0.8;
}

.cart-total {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #cart {
    left: 5%;
    width: 90%;
  }
}

.close {
  height: 18px;
}

.light {
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.favorite,
.cart {
  height: 24px;
}
